click
cycler
decorator
Flask
gunicorn
imageio
imutils
itsdangerous
Jinja2
kiwisolver
MarkupSafe
matplotlib
networkx
numpy
opencv-python
Pillow
pyparsing
pytesseract
python-dateutil
PyWavelets
scikit-image
scipy
six
tesseract
tifffile
Werkzeug
